body {
    margin: 0;
    background-color: #292d3e
}

/** sample header styling **/
.title {    
    color: #52a3dd;
    text-align: left;
    padding-left: 20px;
    font-family: 'Racing Sans One';
    font-size: 60px;
    margin-top: 0px;
}

.main-menu-item {
    font-size: 18px;
    padding-left: 10px;
}

.main-menu-link {
    text-decoration: none;
    color: #52a3dd;
}

/** game page styling **/
.game-title {
    pointer-events: none;
    position: absolute;
    color: white;
    z-index: 1;
    text-align: left;
    font-family: 'Racing Sans One';
    font-size: 30px;
    margin-top: 0px;
    padding-left: 10px;
}
.game-menu-item {
    pointer-events: auto;
    font-size: 18px;
    padding-left: 10px;
}
.game-menu-link {
    text-decoration: none;
    color: white;
}

/** thumbnail gallery **/
.gallery {
    margin-left: 50px;
    margin-right: auto;
    display: block;
    height: auto;
}
.thumb {
    width: 250px;
    height: 220px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    padding: 1px;
    float: left;
    background: #191a24;
}
.thumb-title {
    text-align: center;
    color: #448fc5;
    font-family: 'Racing Sans One';
    font-size: 20px;        
}
.img-frame {
    margin: 2px;
    width: auto;
    height: 165px;
}
.image {
    display: block;
    height: 165px;
    width: auto;
    max-width: 236px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.thumb-bar {
    padding: 0;
    width: 240px;
    vertical-align: bottom;
}
.thumb-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.thumb-item {
    display: inline;
    float: left;
}
a.thumb-link:link, a.thumb-link:visited {
    font-family: 'Racing Sans One';
    font-size: 16px;    
    display: block;
    width: 80px;
    color: #448fc5;
    text-align: center;
    text-decoration: none;
}

.gallery-bottom {
    height: 60px;
    clear: both;
}

/* the emscripten canvas must not have any border or padding, or mouse coords will be wrong */
.game {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
